@font-face {
    font-family: "Glue-gun"; /*a name to be used later*/
    src: url("./assets/fonts/Glue\ Gun.otf"); /*URL to font*/
}
* {
    margin: 0;
    padding: 0;
    font-family: "Glue-gun";
}

html,
body,
#root,
#container {
    height: 100%;
    letter-spacing: 2px;
}

.ui-root {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
}
